h1{
    
}

textarea{
    display:block;
    width:30rem;
    height:70px;
    padding:2rem 2rem;
    
    
}
label{
    display:block;
    padding:1rem 0rem;
}

button{
    padding:0.5rem 0.5rem;
    display:block;
    margin-top:1rem;
}

div{
    background:rgb(212, 209, 209);
    width:30rem;
    height:70px;
    margin-top:1rem;
    padding:2rem 2rem;
    display: block;

}